.idea
client/.env
client/.next
client/functions/node_modules
client/node_modules
client/serviceAccountKey.json
client/functions/serviceAccountKey.json
client/public/sw.js
client/public/fallback-ba59bcac333a1e0f.js
*.env
*/coverage
*/.idea
*/.next
client/public/fallback-development.js
*/dataset
*/table.csv
*/.DS_Store
pillIdentifierAI/google
pillIdentifierAI/saved_model
pillIdentifierAI/logs
pillIdentifierAI/results
pillIdentifierAI/*.xlsx
*.h5
pillIdentifierAI/*.jpg
*/training20_set
*/testing20_set
snoringAI/saved_models/snore_detector.onnx
node_modules/eventemitter3/dist/eventemitter3.esm.js
node_modules/eventemitter3/dist/eventemitter3.esm.min.js
node_modules/eventemitter3/dist/eventemitter3.esm.min.js.map
node_modules/eventemitter3/dist/eventemitter3.umd.js
node_modules/eventemitter3/dist/eventemitter3.umd.min.js
node_modules/eventemitter3/dist/eventemitter3.umd.min.js.map
node_modules/eventemitter3/index.d.ts
node_modules/eventemitter3/index.js
node_modules/eventemitter3/index.mjs
node_modules/eventemitter3/LICENSE
node_modules/eventemitter3/package.json
node_modules/eventemitter3/README.md
node_modules/konva/konva.js
node_modules/konva/konva.min.js
node_modules/konva/lib/_CoreInternals.d.ts
node_modules/konva/lib/_CoreInternals.js
node_modules/konva/lib/_FullInternals.d.ts
node_modules/konva/lib/_FullInternals.js
node_modules/konva/lib/Animation.d.ts
node_modules/konva/lib/Animation.js
node_modules/konva/lib/BezierFunctions.d.ts
node_modules/konva/lib/BezierFunctions.js
node_modules/konva/lib/Canvas.d.ts
node_modules/konva/lib/Canvas.js
node_modules/konva/lib/Container.d.ts
node_modules/konva/lib/Container.js
node_modules/konva/lib/Context.d.ts
node_modules/konva/lib/Context.js
node_modules/konva/lib/Core.d.ts
node_modules/konva/lib/Core.js
node_modules/konva/lib/DragAndDrop.d.ts
node_modules/konva/lib/DragAndDrop.js
node_modules/konva/lib/Factory.d.ts
node_modules/konva/lib/Factory.js
node_modules/konva/lib/FastLayer.d.ts
node_modules/konva/lib/FastLayer.js
node_modules/konva/lib/filters/Blur.d.ts
node_modules/konva/lib/filters/Blur.js
node_modules/konva/lib/filters/Brighten.d.ts
node_modules/konva/lib/filters/Brighten.js
node_modules/konva/lib/filters/Contrast.d.ts
node_modules/konva/lib/filters/Contrast.js
node_modules/konva/lib/filters/Emboss.d.ts
node_modules/konva/lib/filters/Emboss.js
node_modules/konva/lib/filters/Enhance.d.ts
node_modules/konva/lib/filters/Enhance.js
node_modules/konva/lib/filters/Grayscale.d.ts
node_modules/konva/lib/filters/Grayscale.js
node_modules/konva/lib/filters/HSL.d.ts
node_modules/konva/lib/filters/HSL.js
node_modules/konva/lib/filters/HSV.d.ts
node_modules/konva/lib/filters/HSV.js
node_modules/konva/lib/filters/Invert.d.ts
node_modules/konva/lib/filters/Invert.js
node_modules/konva/lib/filters/Kaleidoscope.d.ts
node_modules/konva/lib/filters/Kaleidoscope.js
node_modules/konva/lib/filters/Mask.d.ts
node_modules/konva/lib/filters/Mask.js
node_modules/konva/lib/filters/Noise.d.ts
node_modules/konva/lib/filters/Noise.js
node_modules/konva/lib/filters/Pixelate.d.ts
node_modules/konva/lib/filters/Pixelate.js
node_modules/konva/lib/filters/Posterize.d.ts
node_modules/konva/lib/filters/Posterize.js
node_modules/konva/lib/filters/RGB.d.ts
node_modules/konva/lib/filters/RGB.js
node_modules/konva/lib/filters/RGBA.d.ts
node_modules/konva/lib/filters/RGBA.js
node_modules/konva/lib/filters/Sepia.d.ts
node_modules/konva/lib/filters/Sepia.js
node_modules/konva/lib/filters/Solarize.d.ts
node_modules/konva/lib/filters/Solarize.js
node_modules/konva/lib/filters/Threshold.d.ts
node_modules/konva/lib/filters/Threshold.js
node_modules/konva/lib/Global.d.ts
node_modules/konva/lib/Global.js
node_modules/konva/lib/Group.d.ts
node_modules/konva/lib/Group.js
node_modules/konva/lib/index-node.d.ts
node_modules/konva/lib/index-node.js
node_modules/konva/lib/index-types.d.ts
node_modules/konva/lib/index.d.ts
node_modules/konva/lib/index.js
node_modules/konva/lib/Layer.d.ts
node_modules/konva/lib/Layer.js
node_modules/konva/lib/Node.d.ts
node_modules/konva/lib/Node.js
node_modules/konva/lib/PointerEvents.d.ts
node_modules/konva/lib/PointerEvents.js
node_modules/konva/lib/Shape.d.ts
node_modules/konva/lib/Shape.js
node_modules/konva/lib/shapes/Arc.d.ts
node_modules/konva/lib/shapes/Arc.js
node_modules/konva/lib/shapes/Arrow.d.ts
node_modules/konva/lib/shapes/Arrow.js
node_modules/konva/lib/shapes/Circle.d.ts
node_modules/konva/lib/shapes/Circle.js
node_modules/konva/lib/shapes/Ellipse.d.ts
node_modules/konva/lib/shapes/Ellipse.js
node_modules/konva/lib/shapes/Image.d.ts
node_modules/konva/lib/shapes/Image.js
node_modules/konva/lib/shapes/Label.d.ts
node_modules/konva/lib/shapes/Label.js
node_modules/konva/lib/shapes/Line.d.ts
node_modules/konva/lib/shapes/Line.js
node_modules/konva/lib/shapes/Path.d.ts
node_modules/konva/lib/shapes/Path.js
node_modules/konva/lib/shapes/Rect.d.ts
node_modules/konva/lib/shapes/Rect.js
node_modules/konva/lib/shapes/RegularPolygon.d.ts
node_modules/konva/lib/shapes/RegularPolygon.js
node_modules/konva/lib/shapes/Ring.d.ts
node_modules/konva/lib/shapes/Ring.js
node_modules/konva/lib/shapes/Sprite.d.ts
node_modules/konva/lib/shapes/Sprite.js
node_modules/konva/lib/shapes/Star.d.ts
node_modules/konva/lib/shapes/Star.js
node_modules/konva/lib/shapes/Text.d.ts
node_modules/konva/lib/shapes/Text.js
node_modules/konva/lib/shapes/TextPath.d.ts
node_modules/konva/lib/shapes/TextPath.js
node_modules/konva/lib/shapes/Transformer.d.ts
node_modules/konva/lib/shapes/Transformer.js
node_modules/konva/lib/shapes/Wedge.d.ts
node_modules/konva/lib/shapes/Wedge.js
node_modules/konva/lib/Stage.d.ts
node_modules/konva/lib/Stage.js
node_modules/konva/lib/Tween.d.ts
node_modules/konva/lib/Tween.js
node_modules/konva/lib/types.d.ts
node_modules/konva/lib/types.js
node_modules/konva/lib/Util.d.ts
node_modules/konva/lib/Util.js
node_modules/konva/lib/Validators.d.ts
node_modules/konva/lib/Validators.js
node_modules/konva/LICENSE
node_modules/konva/package.json
node_modules/konva/README.md
node_modules/peaks.js/COPYING
node_modules/peaks.js/dist/peaks.esm.js
node_modules/peaks.js/dist/peaks.ext.js
node_modules/peaks.js/dist/peaks.ext.js.map
node_modules/peaks.js/dist/peaks.ext.min.js
node_modules/peaks.js/dist/peaks.ext.min.js.map
node_modules/peaks.js/dist/peaks.js
node_modules/peaks.js/dist/peaks.js.map
node_modules/peaks.js/dist/peaks.min.js
node_modules/peaks.js/dist/peaks.min.js.map
node_modules/peaks.js/package.json
node_modules/peaks.js/peaks.js.d.ts
node_modules/peaks.js/README.md
node_modules/waveform-data/dist/waveform-data.cjs.js
node_modules/waveform-data/dist/waveform-data.esm.js
node_modules/waveform-data/dist/waveform-data.js
node_modules/waveform-data/dist/waveform-data.js.map
node_modules/waveform-data/dist/waveform-data.min.js
node_modules/waveform-data/dist/waveform-data.min.js.map
node_modules/waveform-data/LICENSE
node_modules/waveform-data/package.json
node_modules/waveform-data/README.md
node_modules/waveform-data/src/waveform-data-channel.js
node_modules/waveform-data/src/waveform-data-worker.js
node_modules/waveform-data/src/waveform-data.js
node_modules/waveform-data/src/waveform-generator.js
node_modules/waveform-data/src/waveform-utils.js
node_modules/waveform-data/waveform-data.d.ts
