.idea
client/.env
client/.next
client/functions/node_modules
client/node_modules
client/serviceAccountKey.json
client/functions/serviceAccountKey.json
client/public/sw.js
client/public/fallback-ba59bcac333a1e0f.js
*.env
*/coverage
*/.idea
*/.next
client/public/fallback-development.js
*/dataset
*/table.csv
*/.DS_Store
pillIdentifierAI/google
pillIdentifierAI/saved_model
pillIdentifierAI/logs
pillIdentifierAI/results
pillIdentifierAI/*.xlsx
*.h5
pillIdentifierAI/*.jpg