@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: #ebf4f8;
}

@media (max-width: 768px) {
  .small-image {
    width: 150px;
    height: 150px;
  }

}

@media only screen and (max-width: 767px) {
  .home-text {
    display: block;
  }
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  background-image: url('/icons/downArrow.svg');
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field  {
    color: #0880AE;
}

.alternatingRowColor .MuiTableBody-root .MuiTableRow-root:nth-child(odd){
  background:var(--Light-Grey, #DBE2EA);
}
.alternatingRowColor .MuiTableBody-root .MuiTableRow-root:nth-child(even){
  background: white;
}

.alternatingRowColor ::placeholder {
  color: #0880AE !important;
}

.date input, .time input{
  color: #0880AE !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  background-image: url('/icons/calendar.svg');
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: transparent;
  background-image: url('/icons/timer.svg');
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

input[type="date"]:before {
  color: lightgrey;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}
input[type="date"]:focus:before {
  content: '' !important;
}

.introjs-tooltip {
  background-color: #ffffff !important; /* Custom background color */
  font-size: 15px;
  color: #2D2739;
  border-radius: 25px !important;
  /*width: 350px !important;*/
  /*max-width: 350px !important;*/
  padding: 10px !important;
    /*margin-left: 10px;*/

}

.introjs-tooltip-title {
  color: #2D2739;
  font-size: 20px !important;
}

/*.tooltip-right {*/
/*  !*margin-left: 10px !important;*!*/
/*  !*  margin-bottom: 10px !important*!*/
/*}*/

.introjs-button {
    border-radius: 10px !important;
    /*width: 70px;*/
    font-size: 20px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    width: fit-content;
    padding: 10px 20px;


}

.introjs-nextbutton {
    background-color: #0780AE !important;
    color: #ffffff !important;
    border:none;
    width: fit-content;
}

.introjs-prevbutton {
    background-color: #ffffff;
    color: #0780AE !important;
    border: 1px solid #0780AE !important;


}

